<div class="projects">
    <figure class="pf-img">
        <img src="img/project1.jpg" alt="Image of project 1">
        <figcaption>Project #1</figcaption>
    </figure>
    <figure class="pf-img">
        <img src="img/project2.jpg" alt="Image of project 1">
        <figcaption>Project #2</figcaption>
    </figure>
    <figure class="pf-img">
        <img src="img/project3.jpg" alt="Image of project 1">
        <figcaption>Project #3</figcaption>
    </figure>
    <figure class="pf-img">
        <img src="img/project4.jpg" alt="Image of project 1">
        <figcaption>Project #4</figcaption>
    </figure>
    <figure class="pf-img">
        <img src="img/project5.jpg" alt="Image of project 1">
        <figcaption>Project #5</figcaption>
    </figure>
    <figure class="pf-img">
        <img src="img/project6.jpg" alt="Image of project 1">
        <figcaption>Project #6</figcaption>
    </figure>
</div>
